---
layout: default
title: Home
---

{% assign sections = "about,hobbies" | split: "," %}

{% for section in sections %}
  {% capture section_file %}{{ section }}.md{% endcapture %}
  {% capture section_content %}
    {% include_relative {{ section_file }} %}
  {% endcapture %}

  <section class="{{ section }}">
    <h2>{{ section | capitalize }}</h2>
    {{ section_content | markdownify }}
  </section>
{% endfor %}

<section class="writing">
  <h2>Rants and Rambles</h2>
  <ul>
    {% for post in site.posts %}
      <li>
        <span>{{ post.date | date: "%d %b %Y" }}</span>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</section>